# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\deaProjects\RMI_workspace\RMI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
